# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual envs
.venv/
venv/
ENV/

# macOS
.DS_Store

# IDE/editor
.vscode/
.idea/

# Project outputs
output_data/

# Reports
flake8-report/

# Env files / secrets
.env
